name: Release Workflow

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Install Linux Cross Compiler
        run: sudo apt-get install --yes --no-install-recommends musl-tools

      - name: Set up MacOS Cross Compiler
        uses: Timmmm/setup-osxcross@v2
        with:
          osx-version: "12.3"

      - name: Install Rustup targets
        run: rustup target add x86_64-unknown-linux-musl aarch64-unknown-linux-musl x86_64-apple-darwin aarch64-apple-darwin

      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Check
        run: cargo check

      - name: Build
        run: cargo build --target x86_64-unknown-linux-musl --target aarch64-unknown-linux-musl --target x86_64-apple-darwin --target aarch64-apple-darwin

      - name: Upload Binaries
        uses: actions/upload-artifact@v4
        with:
          name: binaries
          path: target

